<div class="panel panel-default" style="background-color: transparent">
    <div class="panel-heading"><h2>{{ (account.uuid ? "account.modify.title" : "account.add.title") | translate }}</h2></div>
    <div class="panel-body">
        <div class="bordered" style="padding: 5px;position: relative;height: 60px" ng-controller="OssmoneyAccountReopenController" ng-if="account.closed">
            <span style="display: inline-block;margin-top: 10px">{{ "account.closed.title" | translate }}</span>
            <a class="btn btn-primary btn-lg" role="button" ng-click="reopenAccount()" style="position: absolute;right: 10px" ng-disabled="loading">{{ "account.reopen" | translate }}<i class="fa fa-spinner fa-spin ng-hide" data-ng-show="loading" ng-cloak></i></a>
        </div>
        <form ng-if="!account.closed">
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="account.country">{{ "country" | translate}}</label>
                    <select id="account.country" class="form-control" ng-model="country" disabled>
                        <option value="{{ country }}">{{ country | translate}}</option>
                    </select>
                </div>
                <div class="col-lg-6 required form-group {{ bankValidation }}">
                    <label for="account.bank">{{ "bank" | translate}}</label>
                    <select id="account.bank" class="form-control" ng-init="account.financialInstitution" ng-model="account.financialInstitution" ng-options="(bank.name | translate) for bank in banks[country]" ng-disabled="account.uuid"></select>
                    <span class="glyphicon glyphicon-remove form-control-feedback {{ bankValidation || 'ng-hide' }}" aria-hidden="true"></span>
                    <span class="help-block {{ bankValidation || 'ng-hide' }}" style="">{{ "account.validation.bank" | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="account.type">{{ "account.type" | translate}}</label>
                    <select id="account.type" class="form-control" ng-model="account.accountType" ng-options="(accountType | translate) for accountType in accountTypes"></select>
                </div>
                <div class="col-lg-6 form-group">
                    <label for="account.opened" class="control-label">{{ "account.opened" | translate}}</label>
                    <p class="input-group">
                        <input id="account.opened" type="text" class="form-control" datepicker-popup="{{ 'yyyy-MM-dd' }}" ng-model="account.opened" is-open="opened" close-text="{{ 'datepicker.close' | translate }}" readOnly />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
			</div>
            <div class="row">
                <div class="col-lg-6 form-group required {{ nameValidation }}">
                    <label for="account.name" class="control-label">{{ "account.name" | translate}}</label>
                    <input id="account.name" type="text" ng-model="account.name" class="form-control" />
                    <span class="glyphicon glyphicon-remove form-control-feedback {{ nameValidation || 'ng-hide' }}" aria-hidden="true"></span>
                    <span class="help-block {{ nameValidation || 'ng-hide' }}" style="">{{ "account.validation.name" | translate }}</span>
                </div>
                <div class="col-lg-6 form-group required {{ balanceValidation }}">
                    <label for="account.balance" class="control-label">{{ "account.balance" | translate}}</label>
                    <div class="input-group">
                        <span class="input-group-addon">{{ account.initialBalance.currency.currencyCode | translate }}</span>
                        <input type="number" ng-model="account.initialBalance.number" class="form-control" min="0" maxlength="12" />
                    </div>
                    <span class="glyphicon glyphicon-remove form-control-feedback {{ nameValidation || 'ng-hide' }}" aria-hidden="true"></span>
                    <span class="help-block {{ balanceValidation || 'ng-hide' }}">{{ "account.validation.balance" | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="account.iban">{{ "account.iban" | translate}}</label>
                    <input id="account.iban" type="text" ng-model="account.iban" class="form-control" />
                </div>
                <div class="col-lg-6 form-group">
                    <div>
                        <label for="favorite">{{ "account.favorite" | translate }}</label>
                    </div>
                    <label class="radio-inline">
                        <input type="radio" name="favorite" ng-value="true" ng-model="account.favorite">{{ "YES" | translate}}
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="favorite" ng-value="false" ng-model="account.favorite">{{ "NO" | translate}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 form-group">
                    <label for="account.description">{{ "account.description" | translate}}</label>
                    <textarea id="account.description" class="form-control" rows="3" ng-model="account.description"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-if="!account.closed">
	<div class="col-lg-12 text-right">
		<a class="btn btn-primary btn-lg" role="button" ng-click="saveAccount()" ng-disabled="loading">{{ (account.uuid ? "account.modify" : "account.create") | translate }}<i class="fa fa-spinner fa-spin ng-hide" ng-show="loading" ng-cloak></i></a>
	</div>
</div>