<div class="row">
    <div class="row-same-height row-full-height">
        <div class="col-lg-9 col-lg-height col-full-height">
            <div ng-controller="OssmoneyAccountListController">
                <div class="loader" ng-show="loading">...</div>
                <div class="bs-callout ng-hide" ng-hide="loading">
                    <h2><i class="fa fa-university"></i> {{ "account.list.day_to_day" | translate }}</h2>
                    <div ng-show="bankAccounts === 0">{{ "account.list.cc.dd" | translate }}</div>
                    <table class="table" ng-hide="bankAccounts === 0">
                        <tbody>
                            <tr ng-repeat="account in accounts | filter: {'accountType': '!CREDIT_CARD'} | orderBy: 'financialInstitution.name'">
                                <td class="favorite {{ account.favorite }}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
                                <td class="editable"><a ui-sref="account_edit({ account: account })"><span class="glyphicon glyphicon-edit" aria-hidden="true" title="{{ 'account.modify' | translate }}"></span></a></td>
                                <td class="editable" ng-controller="OssmoneyAccountCloseDeleteController">
                                    <script type="text/ng-template" id="account.remove.modal.html">
                                        <div class="modal-header">
                                            <h3 class="modal-title">{{ (account.closed !== null ? "account.delete.title" : "account.close.title") | translate }}</h3>
                                        </div>
                                        <div class="modal-body">
                                            <strong><span>{{ account.name }}</span>
                                            <span>{{ account.currentBalance.number | currency: (account.currentBalance.currency.currencyCode | translate) }}</span></strong>
                                            <br><br>
                                            <span>{{ (account.closed !== null ? "account.delete.type.message" : "account.close.type.message") | translate }}</span>
                                            <input ng-model="typed" class="form-control" style="display: inline; width: 25%" />
                                            <br>
                                            <span class="red remainder" ng-hide="account.closed === null">{{ "account.delete.warning" | translate }}</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-warning" ng-click="cancel()">{{ "CANCEL" | translate }}</button>
                                            <button class="btn btn-primary" ng-click="remove()" ng-disabled="(typed !== action) || loading">{{ (account.closed ? "account.delete.ok" : "account.close.ok") | translate }}<i class="fa fa-spinner fa-spin ng-hide" data-ng-show="loading"></i></button>
                                        </div>
                                    </script>
                                    <a ng-click="showModal()"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" title="{{ (account.closed !== null ? 'account.delete.title' : 'account.close.title') | translate }}"></span></a>
                                </td>
                                <td class="editable"><span class="glyphicon glyphicon glyphicon-lock" aria-hidden="true" ng-hide="account.closed === null" title="{{ 'account.closed' | translate }}"></span></td>
                                <td>{{ account.financialInstitution.name | translate }}</td>
                                <td>
                                    <a ui-sref="account_details({ account: account })" ng-if="account.closed === null">{{ account.name }}</a>
                                    <span ng-if="account.closed !== null">{{ account.name }}</span>
                                </td>
                                <td>{{ account.iban }}</td>
                                <td class="text-right">{{ account.currentBalance.number | currency: (account.currentBalance.currency.currencyCode | translate) }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="income big text-right" ng-controller="OssmoneyAccountTotalsController">{{ total | currency: (currency.currencyCode | translate) }}</div>
                </div>
                <div class="bs-callout ng-hide" style="margin-top: 15px" ng-hide="loading">
                    <h2><i class="fa fa-credit-card"></i> {{ "account.list.cc" | translate }}</h2>
                    <div ng-show="creditCardAccounts === 0">{{ "account.list.cc.empty" | translate }}</div>
                    <table class="table" ng-hide="creditCardAccounts === 0">
                        <tbody>
                            <tr ng-repeat="account in accounts | filter: {'accountType': 'CREDIT_CARD'} | orderBy: 'financialInstitution.name'">
                                <td class="favorite {{ account.favorite }}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></td>
                                <td class="editable"><a ui-sref="account_edit({ account: account })"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                                <td class="editable" ng-controller="OssmoneyAccountCloseDeleteController">
                                    <script type="text/ng-template" id="account.remove.modal.html">
                                        <div class="modal-header">
                                            <h3 class="modal-title">{{ (account.closed !== null ? "account.delete.title" : "account.close.title") | translate }}</h3>
                                        </div>
                                        <div class="modal-body">
                                            <strong><span>{{ account.name }}</span>
                                            <span>{{ account.currentBalance.number | currency: (account.currentBalance.currency.currencyCode | translate) }}</span></strong>
                                            <br><br>
                                            <span>{{ (account.closed !== null ? "account.delete.type.message" : "account.close.type.message") | translate }}</span>
                                            <input ng-model="typed" class="form-control" style="display: inline; width: 25%" />
                                            <br>
                                            <span class="red remainder" ng-hide="account.closed === null">{{ "account.delete.warning" | translate }}</span>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-warning" ng-click="cancel()">{{ "CANCEL" | translate }}</button>
                                            <button class="btn btn-primary" ng-click="remove()" ng-disabled="(typed !== action) || loading">{{ (account.closed ? "account.delete.ok" : "account.close.ok") | translate }}<i class="fa fa-spinner fa-spin ng-hide" data-ng-show="loading"></i></button>
                                        </div>
                                    </script>
                                    <a ng-click="showModal()"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" title="{{ (account.closed !== null ? 'account.delete.title' : 'account.close.title') | translate }}"></span></a>
                                </td>
                                <td class="editable"><span class="glyphicon glyphicon glyphicon-lock" aria-hidden="true" ng-hide="account.closed === null" title="{{ 'account.closed' | translate }}"></span></td>
                                <td>{{ account.financialInstitution.name | translate }}</td>
                                <td><a ui-sref="account_details({ account: account })">{{ account.name }}</a></td>
                                <td>{{ account.iban }}</td>
                                <td class="text-right">{{ (account.currentBalance.number - account.initialBalance.number) | currency: (account.currentBalance.currency.currencyCode | translate) }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="income big text-right" ng-controller="OssmoneyAccountTotalsCreditController">{{ totalCredit | currency: (currency.currencyCode | translate) }}</div>
                </div>
            </div>
            <div ng-controller="OssmoneyDepositListController">
                <div class="loader" ng-show="loading">...</div>
                <div class="bs-callout ng-hide" style="margin-top: 15px" ng-show="deposits.length > 0">
                    <h2><i class="glyphicon glyphicon-piggy-bank"></i> {{ "account.list.deposits" | translate }}</h2>
                    <table class="table">
                        <tbody>
                            <tr ng-repeat="deposit in deposits | orderBy: 'financialInstitution.name'">
                                <td class="editable"><a ui-sref="deposit_add({ deposit: deposit })"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
                                <td>{{ deposit.financialInstitution.name | translate }}</td>
                                <td><a ui-sref="deposit_details({ deposit: deposit})">{{ deposit.name }}</a></td>
                                <td>{{ deposit.duration }} {{ "deposit.duration.months" | translate}}</td>
                                <td>{{ deposit.annualPercentageYield }}%</td>
                                <td class="text-right">{{ deposit.balance.number | currency: (deposit.balance.currency.currencyCode | translate) }}</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="income big text-right" ng-controller="OssmoneyDepositTotalsController">{{ totalDeposit | currency: (currency.currencyCode | translate) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-lg-height col-full-height" ng-controller="OssmoneyAccountDepositChartController">
            <div class="loader" ng-show="loading">...</div>
            <canvas id="pie" class="chart chart-pie" height="265" data="data" labels="labels" legend="true"></canvas>
        </div>
    </div>
</div>