<div class="panel panel-default" style="background-color: transparent">
    <div class="panel-heading"><h2>{{ (transaction.uuid ? "transaction.modify.title" : "transaction.add.title") | translate }}<small> {{ account.name }}</small></h2></div>
    <div class="panel-body">
        <form>
            <div class="row">
                <div class="col-lg-6 form-group">
                    <div>
                        <label for="transactionType">{{ "transaction.type" | translate }}</label>
                    </div>
                    <label class="radio-inline" ng-hide="account.accountType === 'CREDIT_CARD'">
                        <input type="radio" name="transactionType" value="INCOME" ng-model="transaction.transactionType">{{ "INCOME" | translate}}
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="transactionType" value="EXPENSE" ng-model="transaction.transactionType">{{ "EXPENSE" | translate}}
                    </label>
                    <label class="radio-inline" ng-hide="account.accountType === 'CREDIT_CARD'">
                        <input type="radio" name="transactionType" value="TRANSFER" ng-model="transaction.transactionType">{{ "TRANSFER" | translate}} 
                    </label>
                </div>
                <div class="col-lg-6 form-group">
                    <label for="transaction.referenceNumber">{{ "transaction.referenceNumber" | translate}}</label>
                    <input id="transaction.referenceNumber" type="text" ng-model="transaction.referenceNumber" class="form-control" />
                </div>
			</div>
            <div class="row ng-hide" ng-hide="transaction.uuid || (transaction.transactionType !== 'TRANSFER')">
                <div class="col-lg-6 form-group">
                    <label for="transfer.direction">{{ "transfer.direction" | translate}}</label>
                    <select id="transfer.direction" class="form-control" ng-model="direction">
                        <option value="out">{{ "transfer.direction.out" | translate}}</option>
                        <option value="in">{{ "transfer.direction.in" | translate}}</option>
                    </select>
                </div>
                <div class="col-lg-6 form-group">
                    <label for="transaction.chargeAccount">{{ "transaction.chargeAccount" | translate}}</label>
                    <select id="transaction.chargeAccount" class="form-control" ng-model="transaction.chargeAccount" ng-options="(chargeAccount.name + ' [' + (chargeAccount.currentBalance.number | currency: (chargeAccount.currentBalance.currencyCode | translate) ) + ']') for chargeAccount in accounts | filter: {creditCard: false} | filter: {closed: null} | filter: {name: '!' + account.name}">
                        <option value="" selected style="opacity: 0.6">{{ "transaction.chargeAccount.no.account" | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 form-group required {{ dateValidation }}">
                    <label for="transaction.operationDate" class="control-label">{{ "transaction.operationDate" | translate}}</label>
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="{{ 'yyyy-MM-dd' }}" ng-model="transaction.operationDate" is-open="opened" close-text="{{ 'datepicker.close' | translate }}" readOnly />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <div class="help-block {{ dateValidation || 'ng-hide' }}">{{ "transaction.operationDate.required" | translate }}</div>
                    </p>
                </div>
                <div class="col-lg-6 form-group required {{ balanceValidation }}">
                    <label for="transaction.amount" class="control-label">{{ "transaction.amount" | translate}}</label>
                    <div class="input-group">
                        <span class="input-group-addon">{{ account.currentBalance.currency.currencyCode | translate }}</span>
                        <input type="number" ng-model="transaction.amount.number" class="form-control" maxlength="12" />
                        <span class="glyphicon glyphicon-remove form-control-feedback {{ balanceValidation || 'ng-hide' }}" aria-hidden="true"></span>
                    </div>
                    <span class="help-block {{ balanceValidation || 'ng-hide' }}">{{ "transaction.amount.required" | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 form-group">
                    <label for="transaction.memo">{{ "transaction.memo" | translate}}</label>
                    <input id="transaction.memo" type="text" ng-model="transaction.memo" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 form-group">
                    <label for="transaction.tags">{{ "transaction.tags" | translate}}</label>
                    <tags-input ng-model="transaction.tags" replace-spaces-with-dashes="false" max-tags="3" placeholder="{{ 'transaction.tags.add' | translate }}" key-property="{{ 'tag' }}" add-from-autocomplete-only="true" minLength="4">
                        <auto-complete source="loadItems($query)" min-length="1"></auto-complete>
                    </tags-input>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
	<div class="col-lg-12 text-right">
		<a class="btn btn-primary btn-lg" role="button" ng-click="createTransaction()" ng-disabled="loading">{{ (transaction.uuid ? "transaction.modify" : "transaction.create") | translate }}<i class="fa fa-spinner fa-spin ng-hide" ng-show="loading" ng-cloak></i></a>
	</div>
</div>