<div class="panel panel-default" style="background-color: transparent">
    <div class="panel-heading"><h2>{{ "preferences.title" | translate }}</h2></div>
    <div class="panel-body">
        <form>
            <div class="row">
                <div class="col-lg-4 form-group">
                    <label for="user.locale">{{ "user.locale" | translate}}</label>
                    <select class="form-control" ng-model="user.locale">
                        <option value="es_ES">{{ "es_ES" | translate}}</option>
                        <option value="en_US">{{ "en_US" | translate}}</option>
                    </select>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="user.skin" style="display: block">{{ "user.skin" | translate}}</label>
                    <div class="btn-group" style="width: 100%" dropdown>
                        <button type="button" class="btn {{ user.skin }}" style="width: 90%;text-align: left">{{ ("user.skin." + user.skin) | translate}}</button>
                        <button type="button" class="btn dropdown-toggle {{ user.skin }}" data-toggle="dropdown" aria-expanded="false" dropdown-toggle>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" style="min-width: 257px">
                            <li class="brown-theme" ng-click="changeTheme('brown')">{{ "user.skin.brown" | translate}}</li>
                            <li class="blue-theme" ng-click="changeTheme('blue')">{{ "user.skin.blue" | translate}}</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 form-group">
                    <label for="user.currency">{{ "user.currency" | translate}}</label>
                    <select class="form-control" ng-model="user.currency">
                        <option value="EUR">Euro ({{ "EUR" | translate}})</option>
                        <option value="USD">Dollar ({{ "USD" | translate}})</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-right">
        <a class="btn btn-primary btn-lg" role="button" ng-click="savePreferences()">{{ "save.preferences" | translate }}</a>
    </div>
</div>