<div class="row bordered stretched" style="padding:3px" ng-controller="OssmoneyDashboardTotalsController">
	<div class="col-lg-3" style="padding-top: 5px">
		<span class="col-lg-7 text-left big">{{ "dashboard.total.income" | translate }}</span>
		<div class="col-lg-5 text-right income big">{{ totalIncome | currency: (currency.currencyCode | translate) }}</div>
	</div>
	<div class="col-lg-3" style="padding-top: 5px">
		<span class="col-lg-7 text-left big">{{ "dashboard.total.expenses" | translate }}</span>
		<div class="col-lg-5 text-right income big">{{ totalExpenses | currency: (currency.currencyCode | translate) }}</div>
	</div>
	<div class="col-lg-3" style="padding-top: 5px">
		<span class="col-lg-8 text-left big">{{ "dashboard.total.credit" | translate }}</span>
		<div class="col-lg-4 text-right income big">{{ totalCredit | currency: (currency.currencyCode | translate) }}</div>
	</div>
	<div class="col-lg-3 text-right" ng-controller="OssmoneyDashboardInitController">
		<img ng-src="images/calendar_{{ skin }}.png" style="width: 32px;height: 32px;margin-right: -3px" />
		<div class="btn-group" dropdown>
			<button type="button" class="btn btn-default" style="width: 9em">{{ ("dashboard.date." + incomeVsExpensesFromDate) | translate}}</button>
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" dropdown-toggle>
   				<span class="caret"></span>
   			</button>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#" ng-click="changeInterval(0)">{{ ("dashboard.date.0") | translate}}</a></li>
				<li><a href="#" ng-click="changeInterval(1)">{{ ("dashboard.date.1") | translate}}</a></li>
				<li><a href="#" ng-click="changeInterval(3)">{{ ("dashboard.date.3") | translate}}</a></li>
				<li><a href="#" ng-click="changeInterval(6)">{{ ("dashboard.date.6") | translate}}</a></li>
			</ul>
		</div>
	</div>
</div>
<div style="position: relative">
	<div class="row">
		<div id="net-worth" class="col-lg-4" ng-controller="OssmoneyDashboardNetWorthController">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">{{ "dashboard.networth.accounts" | translate }}</legend>
				<div class="text-center" style="height: 337px;margin-top: 10px">
					<canvas id="doughnut" class="chart chart-doughnut" height="275" data="data" labels="labels"></canvas>
					<div class="donut-inner">{{ netWorth | currency: (user.currency.currencyCode | translate) }}</div>
				</div>
			</fieldset>
		</div>
		<div class="col-lg-8" ng-controller="OssmoneyDashboardIncomeVsExpensesController">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">{{ "dashboard.ivse" | translate }}</legend>
				<canvas style="margin-top: 10px" id="bar" class="chart chart-bar" height="140" data="data_ivse" labels="labels_ivse" series="series_ivse"></canvas>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<div id="expenses-by-category" class="col-lg-4" ng-controller="OssmoneyDashboardExpensesController">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">{{ "dashboard.expenses.category" | translate }}</legend>
				<div class="text-center" style="height: 362px;margin-top: 10px">
					<canvas id="polar-area" height="305" class="chart chart-polar-area" data="data_expenses" labels="labels_expenses"></canvas>
				</div>
			</fieldset>
		</div>
		<div id="expenses-over-time" class="col-lg-8" ng-controller="OssmoneyDashboardExpensesOverTimeController">
			<fieldset class="scheduler-border">
				<legend class="scheduler-border">{{ "dashboard.expenses.time" | translate }}</legend>
				<div class="text-center" style="height: 362px;margin-top: 10px">
				    <canvas class="chart chart-line" style="margin-top: 10px" data="data_eot" labels="labels_eot" series="series_eot"></canvas>
				</div>
			</fieldset>
		</div>
	</div>
</div>