<div style="padding: 4px; border: 1px dashed gray">
    <h2 style="margin-top: 5px">{{ "deposit.balance.title" | translate }}</h2>
    <div class="text-right income"><strong>{{ deposit.balance.number | currency: (deposit.balance.currency.currencyCode | translate) }}</strong></div>
    <h2 style="margin-top: 5px">{{ "deposit.period" | translate }}</h2>
    <div style="margin-top: -18px;margin-bottom: 10px">
        <span>[{{ fromDate | date: "shortDate" }}</span>
        <span>-</span>
        <span>{{ toDate | date: "shortDate" }}]</span>
    </div>
    <div class="text-right income"><strong>{{ days }} {{ "deposit.days" | translate }}</strong></div>
    <h2 style="margin-top: 5px">{{ "deposit.interest.type" | translate }}</h2>
    <div class="text-right income"><strong>{{ deposit.annualPercentageYield }}%</strong></div>
</div>