<div class="row">
    <div class="col-lg-8">
        <div class="page-header">
            <h1>{{ deposit.name }} <small>{{ deposit.financialInstitution.name | translate }}</small></h1>
        </div>
    </div>
    <div class="col-lg-4 row text-right" style="margin-top: 15px">
        <a style="cursor: pointer" ng-click="showCancellation()">
            <div class="col-lg-10">
                <p class="add-transaction text-right">{{ "deposit.cancellation.add" | translate}}</p>
            </div>
            <div class="col-lg-2">
                <div class="new-transaction-icon-inner">
                    <span>+</span>
                </div>
            </div>
        </a>
    </div>
</div>
<table class="table">
    <tbody>
        <tr ng-repeat="transaction in deposit.transactions">
            <td class="arrow"><span class="glyphicon glyphicon-arrow-{{ transaction.amount.number > 0 ? 'right' : 'left' }}" aria-hidden="true"></span></td>
            <td class="text-center" style="width: 5em"><p>{{ transaction.operationDate | date: 'shortDate' }}</p></td>
            <td class="ellipsis"><p>{{ transaction.transactionType | translate }}</p></td>
            <td class="text-right" style="width: 115px"><p>{{ transaction.amount.number | currency: (transaction.amount.currency.currencyCode | translate) }}</p></td>
        </tr>
    </tbody>
</table>
<div class="ng-hide" ng-hide="cancellation" style="border: 1px solid gray; padding: 5px">
    <form>
	    <fieldset>
	        <legend style="margin-bottom: 0px">{{ "deposit.cancellation.add" | translate }}</legend>
	        <hr>
	        <div class="row">
		        <div class="col-lg-4 form-group">
		            <div>
		                <label for="transactionType">{{ "deposit.cancellation.type" | translate }}</label>
		            </div>
		            <label class="radio-inline">
		                <input type="radio" name="cancellationType" value="PARTIAL" ng-model="cancellationType">{{ "PARTIAL_CANCELLATION" | translate}}
		            </label>
		            <label class="radio-inline">
		                <input type="radio" name="cancellationType" value="TOTAL" ng-click="setAmount(deposit.balance.number)" ng-model="cancellationType">{{ "WITHDRAWAL" | translate}}
		            </label>
		        </div>
		        <div class="col-lg-4 form-group required {{ balanceValidation }}">
		            <label for="cancellation.amount" class="control-label">{{ "deposit.cancellation.amount" | translate}}</label>
		            <div class="input-group">
	                    <span class="input-group-addon">{{ deposit.balance.currency.currencyCode | translate }}</span>
	                    <input id="cancellation.amount" type="number" ng-model="cancellationData.balance" class="form-control" maxlength="12" ng-disabled="cancellationType === 'TOTAL'" />
	                    <span class="glyphicon glyphicon-remove form-control-feedback {{ balanceValidation || 'ng-hide' }}" aria-hidden="true"></span>
	                </div>
	                <span class="help-block {{ balanceValidation || 'ng-hide' }}">{{ "deposit.cancellation.amount.required" | translate }}</span>
		        </div>
	            <div class="col-lg-4 form-group required {{ dateValidation }}">
	                <label for="cancellation.date" class="control-label">{{ "deposit.cancellation.operationDate" | translate}}</label>
	                <p class="input-group">
	                    <input id="cancellation.date" type="text" class="form-control" datepicker-popup="{{ 'yyyy-MM-dd' }}" ng-model="cancellationData.opened" is-open="opened" close-text="{{ 'datepicker.close' | translate }}" readOnly />
	                    <span class="input-group-btn">
	                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
	                    </span>
	                    <div class="help-block {{ dateValidation || 'ng-hide' }}">{{ "deposit.cancellation.operationDate.required" | translate }}</div>
	                </p>
	            </div>
	        </div>
	        <div class="row" style="margin-bottom: 10px">
                <div class="col-lg-12 text-right">
                    <a class="btn btn-primary btn-lg" role="button" ng-click="withdraw()" ng-disabled="loading">{{ "deposit.cancellation.do" | translate }}<i class="fa fa-spinner fa-spin ng-hide" ng-show="loading" ng-cloak></i></a>
                </div>
	        </div>
	    </fieldset>
    </form>
</div>