body{
	background-image: url("../images/menu_bg.png");
}
h2 small {
    font-size: 60%;
}
h2 .fa {
	top: -4px;
	font-size: 0.6em;
	position: relative;
}
h2 .glyphicon {
    font-size: 0.70em;
}
td input[type="checkbox"] {
    margin: 11px 0 0;
}
.menunav a {
	cursor: pointer;
}
.brown .panel-default {
	border-color: #D6C7A8;
}
.brown .panel-default > .panel-heading {
	border-color: #D6C7A8;
	background-color: #EEE8D0;
}
.blue .panel-default > .panel-heading {
    border-color: #D6C7A8;
    background-color: #6CA4CC;
}
.brown .btn-primary {
	color: #fff;
	border-color: #D6C7A8;
	background-color: #A1835F;
}
.donut-inner {
	font-size: 1.3em;
	font-weight: bold;
	margin-top: -170px;
	margin-bottom: 100px;
}
.brown .donut-inner {
	color: #b1815d;
}
.blue .donut-inner {
	color: #337AB7;
}
.logout {
	color: #CCCCCC;
	font-size: 2.2em;
	margin-top: 20px;
}
.brown .logout {
	color: #b1815d;
}
.blue .logout {
    color: #337AB7;
}
.form-group.required .control-label:after {
	color: red;
	content: "*";
	margin-left: 6px;
}
.remainder {
    font-size: 0.65em;
    font-weight: bold;
}
.favorite {
	width: 1.2em;
}
.favorite.false > span {
	visibility: hidden;
}
.brown .btn-default {
	background-color: #A1835F;
}
.blue .btn-default {
    background-color: #337AB7;
}
.brown .income {
	color: #A1835F;
	font-size: 1.4em;
}
.blue .income {
    color: #337AB7;
    font-size: 1.4em;
}
td > a {
	cursor: pointer;
}
.brown .expenses, .blue .expenses {
	color: red;
}
.big {
	font-size: 1.3em;
}
.stretched .col-lg-6 {
	padding-right: 5px;
	padding-left: 10px;
}
.brown .bordered {
	border: 2px solid #A1835F;
}
.blue .bordered {
    border: 2px solid #337AB7;
}
.brown .bs-callout {
    border-left-color: #AA6708;
}
.blue .bs-callout {
    border-left-color: #337AB7;
}
.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 0;
    padding: 10px;
}
.bs-callout h2 {
	margin-top: 5px;
	margin-bottom: 15px;
}
.bs-callout .table {
	margin-bottom: 5px;
}
.progress {
	height: 30px;
}
.progress-bar {
	line-height: 30px;
	font-weight: bold;
}
.red {
	color: red;
}
.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.brown .label-default {
	background-color: #A1835F;
}
.blue .label-default {
    background-color: #337AB7;
}
td h4 {
	margin: 0;
}
.pagination a {
	cursor: pointer;
}
.page-header {
	margin: 15px 0 10px;
}
.alert.ng-hide-add, .alert.ng-hide-remove {
	-moz-transition: 1s linear all;
	-o-transition: 1s linear all;
	-webkit-transition: 1s linear all;
	transition: 1s linear all;
	display: block !important;
	opacity: 1;
}
.alert.ng-hide {
	opacity: 0;
}
.alert-success, .alert-danger {
	width: 450px;
}
a > div.new-transaction-icon-inner {
	cursor: pointer;
	margin-top: 10px;
	text-decoration: none;
}
div.new-transaction-icon-inner {
	width: 5rem;
	height: 5rem;
	margin: auto;
	display: table;
	text-align: center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.new-transaction-icon-inner span {
	color: #FFFFFF;
	font-size: 4rem;
	line-height: 1.1;
	vertical-align: top;
	display: table-cell;
}
.brown .new-transaction-icon-inner {
	background-color: #A1835F;
}
.blue .new-transaction-icon-inner {
    background-color: #337AB7;
}
.add-transaction {
	margin-top: 15px;
	margin-right: -20px;
}
.brown .add-transaction {
	color: #A1835F;
}
.blue .add-transaction {
    color: #337AB7;
}
.dropdown-menu.ng-valid-date-disabled {
	padding: 5px;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td {
	padding: 8px;
}
.brown tags-input .tags .tag-item {
	background-color: #A1835F !important;
}
.loader, .loader:before, .loader:after {
	width: 1em;
	height: 4em;
	background: #FFF;
	-webkit-animation: load1 1s infinite ease-in-out;
	animation: load1 1s infinite ease-in-out;
}
.loader:before, .loader:after {
	top: 0;
	content: '';
	position: absolute;
}
.loader:before {
	left: -1.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.loader {
	height: 5em;
	font-size: 11px;
	margin: 8em auto;
	position: relative;
	text-indent: -9999em;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
.loader:after {
	left: 1.5em;
}
@-webkit-keyframes load1 {
	0%, 80%, 100% {
		box-shadow: 0 0 #FFF;
	}
	40% {
		box-shadow: 0 -2em #ffffff;
	}
}
@keyframes load1 {
	0%, 80%, 100% {
		box-shadow: 0 0 #FFF;
	}
	40% {
		box-shadow: 0 -2em #ffffff;
	}
}
.row-full-height {
	height: 100%;
}
.col-full-height {
	height: 100%;
	vertical-align: middle;
}
.row-same-height {
	width: 100%;
	display: table;
	table-layout: fixed;
}
.col-xs-height {
	display: table-cell;
	float: none !important;
}
@media (min-width: 768px) {
	.col-sm-height {
		display: table-cell;
		float: none !important;
	}
}
@media (min-width: 992px) {
	.col-md-height {
		display: table-cell;
		float: none !important;
	}
}
@media (min-width: 1200px) {
	.col-lg-height {
		display: table-cell;
		float: none !important;
	}
}
.pie-legend {
	text-align: left;
}
fieldset.scheduler-border {
	margin: 10px 0 1em 0 !important;
	border: 1px groove #ddd !important;
	padding: 0 1.4em 0em 1em !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
legend.scheduler-border {
	width: auto;
	padding: 0 10px;
	margin-bottom: 0;
	border-bottom: none;
	text-align: left !important;
	font-size: 1em !important;
	font-weight: bold !important;
}
.brown legend {
	color: #A1835F;
}
.blue legend {
    color: #337AB7;
}
.editable {
	width: 1.2em;
}
.editable > a {
	cursor: pointer;
}
.brown .editable > a, .brown .favorite, .brown .glyphicon-lock {
	color: #A1835F;
}
.blue .favorite {
    color: #337AB7;
}
.col-lg-6 .glyphicon-remove {
	right: 1em;
}
.col-lg-6 .input-group .glyphicon-remove {
	right: 0;
}
p.input-group {
	margin: 0;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
}
input[type=number] {
	-moz-appearance: textfield;
}
.arrow {
	width: 2em;
}
.brown .glyphicon-arrow-right {
	color: #A1835F;
}
.blue .glyphicon-arrow-right {
    color: #337AB7;
}
.glyphicon-arrow-left {
	color: #FA6000;
}
.arrow .glyphicon {
	top: 4px;
}
.table.reduced td {
	padding: 4px;
	line-height: 1;
}
.table.reduced td.arrow > span {
	top: 10px;
}
.table.reduced td > p {
	margin-top: 10px;
}
.table.reduced td.editable .glyphicon {
	top: 9px;
}
.table.reduced td h4 {
	margin-top: 3px;
}
.brown .progress-bar-success {
	background-color: #A1835F;
}
.blue .progress-bar-success {
    background-color: #337AB7;
}
.brown .progress-bar-danger {
	background-color: #E8803F;
}
tags-input.ng-invalid .tags {
	border-color: rgb(204, 204, 204) !important;
	box-shadow: none !important;
}
.download {
	margin: 30px 0 30px;
}
.download .glyphicon-download-alt {
    font-size: 3.5em;
}
.brown .download a {
	color: #A1835F;
}
.brown-theme {
	background-color: #A1835F;
}
.blue-theme {
	background-color: #337AB7;
}
.btn.brown {
	background-color: #A1835F;
}
.btn.blue {
    background-color: #337AB7;
}
hr {
	width: 95%;
	height: 1px;
}
.brown hr {
	background-color: #A1835F; 
}
.blue hr {
    background-color: #337AB7;
}
.glyphicon-info-sign {
	font-size: 2em;
	cursor: pointer;
	margin-top: 25px;
	margin-left: -20px;
	display: inline-block;
}
.brown .glyphicon-info-sign {
	color: #A1835F;
	cursor: pointer;
}
.blue .glyphicon-info-sign {
    color: #337AB7;
}
.brown .tooltip-custom .tooltip-inner {
	background-color: #A1835F;
}
.brown .tooltip.right .tooltip-arrow {
    border-right: 5px solid #A1835F;
}
.blue .tooltip-custom .tooltip-inner {
    background-color: #337AB7;
}
.blue .tooltip.right .tooltip-arrow {
    border-right: 5px solid #337AB7;
}
.paging-table {
	max-height: 477x;
	overflow-y: auto;
}
.paging-table a {
	cursor: pointer;
}
#smart-table {
	margin-bottom: 0;
}
#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
.fa-spin {
	margin-left: 5px;
}