.vnav {
	width: 100%;
	overflow: hidden;
	background: white;
	border: 1px solid #1d1f22;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.vnav a {
	color: #FFFFFF;
	display: block;
	cursor: pointer;
	line-height: 34px;
	text-decoration: none;
}
.vnav li {
	list-style-type: none;
}
.vnav li:last-child .vnav-item {
	border-bottom-color: #50575f;
}
.vnav li:last-child .vnav-subnav {
	border-bottom-color: white;
}
.vnav-menu {
	padding: 0;
	margin-bottom: 0;
}
.vnav-item {
	color: white;
	font-size: 13px;
	position: relative;
	background: #505968;
	padding-left: 0.8em;
	border-top: 1px solid #878e96;
	border-bottom: 1px solid #333740;
	-webkit-transition: opacity 0.15s;
	-moz-transition: opacity 0.15s;
	-o-transition: opacity 0.15s;
	transition: opacity 0.15s;
	text-shadow: 0 1px rgba(0, 0, 0, 0.35);
	background-image: -webkit-linear-gradient(top, #686868, #888888);
	background-image: -moz-linear-gradient(top, #686868, #888888);
	background-image: -o-linear-gradient(top, #686868, #888888);
	background-image: linear-gradient(to bottom, #686868, #888888);
}
.vnav-item:hover {
	opacity: .95;
}
.active .vnav-item, .vnav-item:active {
	opacity: 1;
	background: #259bdb;
	border-top-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
}
.blue .active .vnav-item, .vnav-item:active {
	-webkit-box-shadow: 0 1px #bbbbbb, 0 2px #e9ebe8;
	box-shadow: 0 1px #bbbbbb, 0 2px #e9ebe8;
	background-image: -webkit-linear-gradient(top, #6CA4CC, #259bdb);
	background-image: -moz-linear-gradient(top, #6CA4CC, #259bdb);
	background-image: -o-linear-gradient(top, #6CA4CC, #259bdb);
	background-image: linear-gradient(to bottom, #6CA4CC, #259bdb);
}
.brown .active .vnav-item, .brown .vnav-item:active {
	-webkit-box-shadow: 0 1px #bbbbbb, 0 2px #e9ebe8;
	box-shadow: 0 1px #bbbbbb, 0 2px #e9ebe8;
	background-image: -webkit-linear-gradient(top, #B08D62, #85653E);
	background-image: -moz-linear-gradient(top, #B08D62, #85653E);
	background-image: -o-linear-gradient(top, #B08D62, #85653E);
	background-image: linear-gradient(to bottom, #B08D62, #85653E);
}
.active .vnav-item .vnav-counter, .vnav-item:active .vnav-counter {
	background: #2471a9;
}
.vnav-item i {
	top: 7px;
	left: 9px;
	position: absolute;
}
.vnav-subnav {
    padding: 0;
    border-bottom: 1px solid #404348;
}
.active .vnav-subnav {
    display: block;
}
.vnav-subnav a {
    color: #838a90;
    font-size: 12px;
    padding: 0 5px 0 12px;
}
.vnav-subnav a:before {
    width: 0;
    height: 0;
    content: '';
    margin-right: 1px;
    display: inline-block;
    border: 4px outset transparent;
    border-left: 4px solid #bbb;
}
.vnav-subnav a:hover {
    background: #f8f9fb;
}
.vnav-subnav .vnav-counter {
    color: #999;
    background: #fcfcfc;
    -webkit-box-shadow: inset 0 0 0 1px gainsboro;
    box-shadow: inset 0 0 0 1px gainsboro;
}
.vnav-subnav li:last-child a {
    border-bottom-color: white;
}
.brown .voption.active {
    background-color: #D6C6B0 !important;
}
.blue .voption.active {
    background-color: #F0F5F5 !important;
}