<div style="padding: 4px; border: 1px dashed gray">
	<h2 style="margin-top: 5px">{{ (account.accountType === 'CREDIT_CARD' ? "account.balance.cc" : "account.balance.current") | translate }}</h2>
	<div class="text-right income"><strong>{{ account.currentBalance.number | currency: (account.currentBalance.currency.currencyCode | translate) }}</strong></div>
	<h2 style="margin-top: 5px">{{ "account.period" | translate }}</h2>
	<div style="margin-top: -18px;margin-bottom: 10px">
		<span>[{{ fromDate | date: "shortDate" }}</span>
		<span>-</span>
		<span>{{ toDate | date: "shortDate" }}]</span>
	</div>
	<progress>
		<bar type="success" value="incomePercent"><span style="color:black; white-space:nowrap;">{{ incomePercent }}%</span></bar>
		<bar type="danger" value="expensesPercent"><span style="color:black; white-space:nowrap;">{{ expensesPercent }}%</span></bar>
	</progress>
	<h3 style="margin: 0">{{ "account.by.amount" | translate }}</h3>
	<div>
		<div class="ellipsis">{{ maxTransaction.memo ? maxTransaction.memo : "account.transaction.nodesc" | translate }}</div>
		<div class="text-right red">{{ maxTransaction.amount.number | currency: (maxTransaction.currency.currencyCode | translate) }}</div>
	</div>
	<h3 style="margin-top: 10px">{{ "account.by.category" | translate }}</h3>
	<div>
		<div class="ellipsis"><i class="{{ maxCategory.icon ? maxCategory.icon : '' }}"></i> {{ maxCategory.tag ? maxCategory.tag : "account.transaction.nodesc" | translate }}</div>
		<div class="text-right red">-{{ maxCategory.value | currency: (maxCategory.currency.currencyCode | translate) }}</div>
	</div>
</div>