<div class="row">
    <div class="col-lg-8">
        <div class="page-header">
            <h1>{{ account.name }} <small>{{ account.financialInstitution.name | translate }}</small></h1>
        </div>
    </div>
    <div class="col-lg-4 row text-right" style="margin-top: 15px">
        <a ui-sref="transaction_add({ account: account })" style="cursor: pointer">
            <div class="col-lg-10">
                <p class="add-transaction text-right">{{ "transaction.create" | translate}}</p>
            </div>
            <div class="col-lg-2">
                <div class="new-transaction-icon-inner">
                    <span>+</span>
                </div>
            </div>
        </a>
    </div>
</div>
<form name="transactionForm">
	<div class="paging-table">
	    <table id="smart-table" class="table reduced" st-table="rowCollection" st-safe-src="transactions" st-select-mode="multiple">
	        <thead>
	            <th colspan="6">
	                <div class="btn-group" style="width: 100%">
	                    <input id="table-search" placeholder="{{ 'transaction.search' | translate }}" class="input-sm form-control" type="search" st-search />
	                    <span id="searchclear" class="glyphicon glyphicon-remove-circle" search-clear ng-click=""></span>
	                </div>
	            </th>
	        </thead>
	        <tbody>
	            <tr class="{{ rowCollection.length > 0 ? 'hidden' : '' }}"><td colspan="5">{{ "account.transaction.empty" | translate }}</td></tr>
	            <tr ng-repeat="transaction in rowCollection">
	                <td cs-select="row" ng-if="account.creditCard"></td>
	                <td class="arrow"><span class="glyphicon glyphicon-arrow-{{ transaction.amount.number > 0 ? 'right' : 'left' }}" aria-hidden="true"></span></td>
	                <td class="text-center" style="width: 5em"><p>{{ transaction.operationDate | date: 'shortDate' }}</p></td>
	                <td class="ellipsis"><p>{{ transaction.memo | translate }}</p></td>
	                <td class="text-right">
	                    <h4>
	                        <a ng-repeat="tag in transaction.tags"><span tag-filter class="label label-default" style="margin-right: 2px" ng-click=""><i class="{{ tag.icon ? tag.icon : tag.tags[0].icon }}"></i> {{ tag.text }}</span></a>
	                    </h4>
	                </td>
	                <td class="text-right" style="width: 115px"><p>{{ transaction.amount.number | currency: (transaction.amount.currency.currencyCode | translate) }}</p></td>
	                <td class="editable"><a ui-sref="transaction_edit({ 'account': account, 'transaction': transaction })"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
	                <td class="editable" ng-controller="OssmoneyTransactionRemoveController">
	                    <script type="text/ng-template" id="transaction.remove.modal.html">
                        <div class="modal-header">
                            <h3 class="modal-title">{{ "transaction.delete.title" | translate }}</h3>
                        </div>
                        <div class="modal-body">
                            <strong><span>{{ transaction.operationDate | date: 'shortDate' }}</span>
                            <span>{{ transaction.memo | translate }}</span></strong>
                            <br><br>
                            <span>{{ "transaction.delete.type" | translate: translationData }}</span>
                            <input type="number" ng-model="typed" class="form-control" min="0" maxlength="12" style="display: inline; width: 25%" />
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">{{ "CANCEL" | translate }}</button>
                            <button class="btn btn-primary" ng-click="remove()" ng-disabled="typed !== amount">{{ "OK" | translate }}</button>
                        </div>
                    </script>
	                    <a ng-click="showModal()"><span class="glyphicon glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</form>
<div class="row bordered ng-hide" style="padding: 3px;margin-top: 50px" ng-if="account.creditCard" ng-hide="reconcile.selection | isEmpty">
    <div class="col-lg-4" style="padding-top: 10px">
        <span>{{ "transaction.reconcile.amount" | translate }}</span>
        <span><strong>{{ reconcile.amount | currency: (account.currentBalance.currency.currencyCode | translate) }}</strong></span>
    </div>
    <div class="col-lg-5">
        <form>
            <select id="reconcile.account" class="form-control" style="width: 85%;display: inline-block;position: relative;top: -3px" ng-model="reconcile.account" ng-options="((account.name | translate) + ' [' + (account.currentBalance.number | currency: (account.currentBalance.currencyCode | translate) ) + ']') for account in accounts | filter: {creditCard: false} | filter: {closed: null}">
                <option value="" selected style="opacity: 0.6">{{ "transaction.reconcile.no.account" | translate }}</option>
            </select>
            <span class="glyphicon glyphicon-info-sign" style="margin-left: 0;margin-top: 0;position: relative;top: 5px" tooltip-placement="right" tooltip-class="tooltip-custom" tooltip="{{ 'transaction.reconcile.account.tooltip' | translate }}"></span>
        </form>
    </div>
    <div class="col-lg-3 text-right" style="padding-top: 2px">
        <button class="btn btn-primary" ng-click="reconcileMovements()" ng-disabled="loading">{{ "transaction.reconcile" | translate }}<i class="fa fa-spinner fa-spin ng-hide" ng-show="loading" ng-cloak></i></button>
    </div>
</div>
<div class="text-center" ng-if="!account.creditCard">
    <ul class="pagination">
        <li>
            <a aria-label="{{ month1 }}" ng-click="setTransactionsInterval(1)">
                <span aria-hidden="true">{{ "account.details.since" | translate }} {{ month1 }}</span>
            </a>
        </li>
        <li>
            <a aria-label="{{ month3 }}" ng-click="setTransactionsInterval(3)">
                <span aria-hidden="true">>> {{ month3 }}</span>
            </a>
        </li>
        <li>
            <a aria-label="{{ month6 }}" ng-click="setTransactionsInterval(6)">
                <span aria-hidden="true">>>>> {{ month6 }}</span>
            </a>
        </li>
    </ul>
</div>
